<launch>
  <!-- Save data in a ROSbag file -->
  <include file="$(dirname)/rosbag_record/run_rosbag_record_all.launch"
      if="$(optenv ROBOT_LOG_ENABLE false)"/>

  <!-- Drivers Abstraction Layer -->
  <include file="$(dirname)/run_drivers.launch"/>

  <!-- Robot Localization Abstraction Layer -->
  <include file="$(dirname)/run_localization.launch"/>

  <!-- Robot Mapping Abstraction Layer -->
  <include file="$(dirname)/run_mapping.launch"/>

  <!-- Robot Navigation Abstraction Layer -->
  <include file="$(dirname)/run_navigation.launch"/>

  <!-- Human-Machine Interface (HMI) Abstraction Layer -->
  <include file="$(dirname)/run_hmi.launch"/>
</launch>
